localhost {
	@backend {
		path /api/*
	}

	handle @backend {
		reverse_proxy finfrases-api:8000
	}

	handle {
		root * /usr/share/caddy/finfrases

		rewrite / /html/index.html
	
		try_files /html{path} /html{path}.html {path} {path}/
	
		file_server
	}
	
	handle_errors {
		rewrite * /html/error.html
	
		file_server
	}
}
