localhost {
	@backend {
		path /api/*
	}

	handle @backend {
		reverse_proxy finfrases-api:8000
	}

	handle {
		root * /usr/share/caddy/finfrases

		rewrite / /index.html
	
		try_files /{path} /{path}.html {path} {path}/
	
		file_server
	}
	
	handle_errors {
		rewrite * /error.html
	
		file_server
	}
}
